.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
    width: 100%;
    background-color: #0d1117;
    border-radius: 5px;
    height: calc(100vh - 60px); /* Asegura que ocupe toda la altura de la ventana menos el navbar */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño total */
  }
  
  .image {
    max-width: 70%;
    height: auto;
    border: 2px solid #b0b0b0;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    border-radius: 4px;
    padding: 5px;
    animation: focus-in 0.5s ease-out;
    display: block; /* Asegura que la imagen sea un bloque centrado */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  
  .image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
  }
  
  .not-found {
    color: white;
  }
  
  @keyframes focus-in {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Estilos específicos para dispositivos móviles */
  @media (max-width: 768px) {
    .holder {
      height: auto; /* Permite que el contenedor crezca con su contenido */
      padding: 0.5rem; /* Reduce el padding en dispositivos móviles */
    }
  
    .image {
      max-width: 70%; /* Asegura que la imagen ocupe el ancho completo en móviles */
      padding: 2px; /* Reduce el padding de la imagen */
    }
  }
  