.profile-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d1117;
  border-radius: 5px;
}

.links-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link,
.active-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  background-color: #1a1f24;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #21262c;
}

.active-link {
  background-color: #2f81f7;
}