.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0d1117;
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #2f81f7;
}