body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2d2d2d;
  color: #ffffff;
}

.container {
  padding: 1rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}